@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    width: 1280px;
    height: 720px;
    margin: 0 auto;
}

@layer components {
    .screenButton {
        @apply w-24 h-14 flex font-bold items-center justify-center border-2 border-gray-900 hover:bg-gray-900 hover:text-white
    }

    .correctNumber {
        @apply border-none bg-phoneBlock text-xl font-bold
    }

    .inCorrectNumber {
        @apply border-none bg-phoneBlock text-xl font-bold text-red-600
    }

    .acceptButton {
        @apply mt-5 w-72 h-14 border-2 border-gray-500 text-xl hover:bg-gray-900 hover:text-white
    }

    .btnClose {
        @apply absolute top-4 right-80
    }
}